/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 5%;
    background-color:transparent;
    color:black;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

/* Header text */
.nav-header{
    display:flex;
    flex-direction:column;
}

.nav h2{
    font-size:1.5rem;
    font-weight:700;
    color:rgba(238,3,3,0.7);
}

.nav h1{
    font-size:1.3rem;
    font-weight:600;
    color:rgba(244, 193, 193, 0.7);
}

/* Links */
.nav-links{
    display:flex;
    list-style:none;
    gap:2rem;
    padding-right: 20px;
    align-items:center;
}

.nav-links a{
    text-decoration:none;
    color:#716363;
    font-size:1rem;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color:rgb(106,1,1);
    transform:translateY(-2px);
}

.nav-links a.active{
    color:rgb(106,1,1);
    font-weight:600;
}

/* Hamburger icon */
.menu-icon{
    display:none;
    flex-direction:column;
    cursor:pointer;
    gap:5px;
}

.bar{
    width:25px;
    height:3px;
    background-color:#f12a02;
    border-radius:5px;
}

/* Tablet and Mobile */
@media (max-width:768px){

.nav{
    flex-direction:row;
}

.menu-icon{
    display:flex;
}

.nav-links{
    position:absolute;
    top:70px;
    right:0;
    width:200px;
    background:rgba(0,0,0,0.85);;
    flex-direction:column;
    align-items:center;
    gap:1.5rem;
    padding:20px 0;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    display:none;
}

.nav-links.active{
    display:flex;
    color:rgb(106,1,1);
    font-weight:600;

}

.nav-links a:hover{
    color:rgb(106,1,1);
    font-weight:600;

}
}

/* Small phones */
@media (max-width:480px){

.nav h2{
    font-size:1.2rem;
}

.nav h1{
    font-size:0.9rem;
}

.nav-links{
    width:100%;
}

}